*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/*banner开始*/
.banner{
    height: 120px;
}
.banner a{
display: block;
height: 120px;
background: url("../img/banner.jpg") no-repeat center 0;
}
/*banner结束*/
/*top菜单开始*/
.nav{
    background: #333;
    height: 40px;

}
.wrapper{
    width: 1210px;
    margin: 0 auto;
}
.main-nav{
    /*overflow: hidden;*/
    float: left;
}
.main-nav li{
    float: left;
}
.main-nav a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #aaaaaa;
}
.main-nav li span{
    color: #b0b0b0;
    margin:0 6px;
}

.main-nav a:hover{
    color: #ffffff;
}
.user-info{
    float: right;
}
.user-info span{
    margin:0.5px;
}
.user-info li {
    margin: 0 6px;
    float: left;
}
.user-info a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #aaaaaa;
}
.user-info a:hover{
    color: #ffffff;
}
/*top菜单结束*/
/*购物车开始*/
.user-info .cart{
    width:120px;
    height: 40px;
    background: #424242;
    text-align: center;
    margin-left: 18px;
    font-size: 15px;
    position: relative;
}
.user-info .cart:hover{
    background:#ffffff ;
}
.user-info .cart a{
    display: block;
    width: 100%;
    height: 100%;
}
.user-info .cart:hover a{
    color: #ff6700;
}
.cart-box{
    width:300px;
    height: 0px;
    font-size: 12px;
    line-height: 100px;
    color: #000;
    text-align: center;
    position: absolute;
    right: 0px;
    top:40px;
    box-shadow:0px 3px 1px 2px rgba(0,0,0,0.2);
    display:none;
    overflow: hidden;
}
.user-info .cart:hover .cart-box{
    display: block;
    animation:show 0.4s ease-in forwards ;
}
@keyframes show {
    100%{
        height: 100px;
    }
}
/*购物车结束*/
/*header菜单开始*/
.header{
   height: 100px;
    position: relative;
}
.header-wrapper {
    margin: 0 auto;
    height: 100px;
    width: 1226px;

}
.logo{
    float: left;
}
.link-logo{
    display: block;
    width:55px;
    height: 55px;
    background: url("../img/mi-logo.png")  center center no-repeat #ff6700 ;
    margin-top:22px;
}
.center-menu {
    float: left;
    margin-left: 180px;
}
.item{
    float: left;
    padding:41px 0px;
}
.menu-item{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}
.menu-item:hover {
    color: #ff6700;
}
.sub-menu{
    background: #ffffff;
    position:absolute;
    left:0px;
    top:100px;
    width: 100%;
    height: 0px;
    display: none;
    z-index: 1;
}
.item:hover .sub-menu{
    display: block;
}
.sub-menu li{
    float: left;

}
.first-div{
    width:200px;
    height: 22px;
    border-top:1px solid #aaaaaa;

}
.second-div{
    width: 200px;
    height: 227px;
    position: relative;
    border-right:1px solid #aaaaaa;
}
.first-div1{
    border: #ff6700 2px solid;
    color: #ff6700;
   width: 80px;
    margin-left: 60px;

}
.first-div1 div{
    text-align: center;
}
.second-div1 {

    position:absolute;
    left: 20px;
    top:30px;
}
.second-div2{
    position: absolute;
    top:150px;
     left :50%;
     transform: translate(-50%,-50%);
    cursor: pointer;
}

.second-div3{
    display: block;
    text-align: center;
    position: absolute;
    top:170px;
    left :50%;
    transform: translate(-50%,-50%);
    color: #ff6700;
}
/*.center-menu .menu-item.hover .sub-menu{*/
     /*display: block;*/
    /*animation:show 0.5s ease-in forwards ;*/
/*}*/

/*@keyframes show {*/
    /*100%{*/
        /*height: 250px;*/
    /*}}*/

/*header菜单结束*/
